<h1> Book description</h1>
<div>
    <a href="#" id="{{item.id}}">
        {{#if volumeInfo.imageLinks.thumbnail}}
        <img src="{{volumeInfo.imageLinks.thumbnail}}">
        {{else}}
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/330px-No-Image-Placeholder.svg.png">
        {{/if}}
        <h3>BOOK Name: {{volumeInfo.title}}</h3>
        <p>author:{{volumeInfo.authors}}</p>
        <p>Description: {{volumeInfo.description}} </p>
        <p>Release Date: {{volumeInfo.publishedDate}}</p>
    </a>
    <button class='add-fav-btn'>Add to fav</button>
</div>