<div class="book-detail-container">
    <div class="des-container">
        <section class="book-detail-content" id="{{id}}">
            <div class="book-detail-photo-container">
                {{#if volumeInfo.imageLinks.thumbnail}}
                <img class="fav-book-photo" src="{{volumeInfo.imageLinks.thumbnail}}">
                {{else}}
                <img class="fav-book-photo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/130px-No-Image-Placeholder.svg.png">
                {{/if}}
            </div>
            <div class="book-detail-text-container">
                <h3 class="desciption-text title">BOOK Name: {{volumeInfo.title}}</h3>
                <p class="description-text author">author:  {{volumeInfo.authors}}</p>
                <p class="description-text description">Description: {{volumeInfo.description}} </p>
                <p class="description-text release-date">Release Date: {{volumeInfo.publishedDate}}</p>
            </div>
        </section>
        <span class="book-detail-btn-container">  
            <button class='add-fav-btn book-detail-btn'>Add to favorites</button>
        </span>
    </div>
    <div class="extender">extender</div>
</div>